/* src/components/Book.module.css */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bookImage {
    width : 350px;
    height: auto;
    border-radius: 8px;
    display: grid;
    place-items: center;
    margin: 10px;
}


.boookText {
    font-size: 16px;
    line-height: 1.5;
}

.book-page {
    font-size: 1.5rem;
    margin: 20px;
    padding:10px;
    line-height: 1.5;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }